@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #fff;
  color:#222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.wrapper{
  width: 1280px;
  margin: 50px auto;
}
header {
  height: 50px;
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #ccc;
  background: #fafafa; */
}

header .logo{
 font-weight: 600px;
 font-size: 20px;
}
header ul.nav li button avtive icon{
  background: black;
}
header ul.nav{
  float: right;
  list-style: none;
}
 
header ul.nav li{
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
} 

header ul.nav li:hover{
 opacity: 0.5;
}





footer{
  text-align: center;
  margin: 100px;
}

